/* @import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap'); */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Sunflower';
  src: url(./assets/fonts/Sunflower/Sunflower-Light.ttf);
  font-weight: 300; /* Light */
  font-style: normal;
}
@font-face {
  font-family: 'Sunflower';
  src: url(./assets/fonts/Sunflower/Sunflower-Medium.ttf);
  font-weight: 500; /* Medium */
  font-style: normal;
}
@font-face {
  font-family: 'Sunflower';
  src: url(./assets/fonts/Sunflower/Sunflower-Bold.ttf);
  font-weight: 700; /* Bold */
  font-style: normal;
}
@font-face {
  font-family: 'Song Myung', serif;
  src: url(./assets/fonts/Song_Myung/SongMyung-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: url(./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
